.new-task-button{
    /* flex: 1; */
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #41b683;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}
.new-task-button:hover{
    background-color: #40a77a;
}
.btnEdite, .btnDelete{
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btnDelete:hover, .btnEdite:hover{
    background-color: #41b883;
    color: #fff;
    border-color: #41b883;
}
@media(max-width: 780px){
    .btnDelete, .btnEdite{
        margin-left: 8px;
    }
}